<div class="col-sm col-lg-4">
  <div id="f1_container">
    <div id="f1_card" class="shadow">
      <div class="front face">
        <img src={{backDrop}} width="350px" height="200px" />
      </div>
      <div class="back face center">
        <p class="watchP"><strong>{{title}}</strong></p>
        <p class="watchP">{{description}}</p>
        <div class="placement">
          <div data-tooltip-heart="Favorite">
            <div class="heart"></div>
          </div>
        </div>
        <!-- MUST MAKE ICON CLICKABLE -->
        <div data-tooltip="Remove from Watchlist">
          <i class="fas fa-minus" id="minusico"></i></div>
        <div data-tooltip-eye="Seen it">
          <i class="fas fa-eye" id="eyeico"></i></div>
      </div>
    </div>
  </div>
</div>