<div class="container">
    <div class="row">
      <div class="col-md-6 col-md-3">
        <h2 id= "secondpage">Curate Playlist <span class="member-name"></span></h2>
      </div>
    </div>

    <div class ="row">
      <div class="col-6">
        <h3 class="text-center">Let's get started customizing your playlist!</h3>
        </div>
    </div>  
    
    <form class= "mb-2" id = "survey-form">
      <div class="row">
        <div class="col-md-4">
          <p>Enter date of birth</p>
          <input type="date" id= "dob-input" class="form-control" placeholder="XX/XX/XXX">
        </div>

          <div class= "col-md-4">

        <div class="row">
            <p>Genre</p>
          <div class="col-md-4">

          </div>   
      </div>
         
            
          </div>

          <div class= "col-md-4 mr-5">
            <p>Choose what you'd like to see</p>
            <select id="type-input" class="form-control">
              <option selected>Choose...</option>
              <option>Movies</option>
              <option>TV Shows</option>
              <option>Both</option>
            </select>
            <button type="button" class="btn btn-outline-dark">Dark</button>
          </div>

        

      </div>
    </form>
    
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="js/curate.js"></script>
