<nav role="navigation">
    <div id="menuToggle">
        <!--
          A fake / hidden checkbox is used as click reciever,
          so you can use the :checked selector on it.
          -->
        <input type="checkbox" />

        <!--
          Some spans to act as a hamburger.
          -->
        <span></span>
        <span></span>
        <span></span>

        <!--
          menu options
          -->
        <ul id="menu">
            <a href="./results">
                <li>Search Results</li>
            </a>
            <a href="./watchlist">
                <li>My Playlist</li>
            </a>
            <a href="./curate">
                <li>Curate Playlist</li>
            </a>
            <a href="./watched">
                <li>Watched</li>
            </a>
            <a href="./logout">
                <li>Logout</li>
            </a>
        </ul>
    </div>
</nav>

<div class="row">

    <div class="col-sm-3">
        <img class="p1 m-5" src="P1.png" alt="logo" style="height: 160px; length: 200px;" />
    </div>

    <div class="col-sm-3 ">
        <h1>andemic</h1>
    </div>

    <div class="col-sm-3 ">
        <img class="p1 m-5" src="P2.png" alt="logo" style="height: 160px; length: 200px;" />
    </div>

    <div class="col-sm-3 ">
        <h1>laylist</h1>
    </div>

</div>

</section>

<script type="text/javascript" src="js/favorites.js"></script>

