<div class="zoomed">
  <nav role="navigation">
    <div id="menuToggle">
      <!--
          A fake / hidden checkbox is used as click reciever,
          so you can use the :checked selector on it.
          -->
      <input type="checkbox" />

      <!--
          Some spans to act as a hamburger.
          -->
      <span></span>
      <span></span>
      <span></span>

      <!--
          menu options
          -->
      <ul id="menu">
        <a href="#">
          <li>My Playlist</li>
        </a>
        <a href="#">
          <li>Favorites</li>
        </a>
        <a href="#">
          <li>Curate Playlist</li>
        </a>
        <a href="#">
          <li>Watched</li>
        </a>
        <a href="#">
          <li>Logout</li>
        </a>
      </ul>
    </div>
  </nav>


<div class="infoBackdrop">
    <div class="caption">
        <span style="background-color: transparent; font-size: 25px; color: #f7f7f7"></span>
    </div>
</div>

  <div class="container pb-4">
    <br/>
    <br/>

    <div class="row">
      <div class="col-3">
        <img src="https://tvguide1.cbsistatic.com/feed/1/567/93267567.jpg" width="230" height="345" alt="Tenet"
          itemprop="image" class="image" />
      </div>

      <div class="col-6">
        <h3>Iron Man 2008</h3>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit.
          Exercitationem hic eveniet iusto. Maiores ipsa ad obcaecati tempore.
          Necessitatibus quod optio ipsa culpa, atque soluta distinctio ex. Ab
          officiis inventore commodi. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Explicabo, soluta
          suscipit
          dolor quidem fuga beatae tempore? Magnam delectus, magni optio blanditiis, incidunt, autem eum corporis dicta
          illum a nemo expedita.
        </p>
      </div>

      <div class="col-3">
        <button type="button" class="btn btn-outline-warning btn-lg m-3">
          Add to Playlist! &#127871;
        </button>
        <button type="button" class="btn btn-outline-warning btn-lg m-3">
          Favorite ❤
        </button>
        <button type="button" class="btn btn-outline-warning btn-lg m-3">
          Seen it! &#128065; &#x1F441;
        </button>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript" src="js/moreInfo.js"></script>