<div class="zoomed">
  <nav role="navigation">
    <div id="menuToggle">
      <!--
          A fake / hidden checkbox is used as click reciever,
          so you can use the :checked selector on it.
          -->
      <input type="checkbox" />

      <!--
          Some spans to act as a hamburger.
          -->
      <span></span>
      <span></span>
      <span></span>

      <!--
          menu options
          -->
      <ul id="menu">
          <a href="./results"><li>Search Results</li></a>
          <a href="./watchlist"><li>My Playlist</li></a>
          <a href="./favorites"><li>Favorites</li></a>
          <a href="./curate"><li>Curate Playlist</li></a>
          <a href="./watched"><li>Watched</li></a>
          <a href="./logout"><li>Logout</li></a>
      </ul>
    </div>
  </nav>


  <div class="infoBackdrop">
    <div class="caption">
      <span style="background-color: transparent; font-size: 25px; color: #f7f7f7"></span>
    </div>
  </div>

  <div class="container pb-4">
    <br />
    <br />

    <div class="row">
      <div class="col-3">
        <img id="mi-pos" src="" width="230" height="345" alt="Movie Poster"
          itemprop="image" class="image" />
      </div>

      <div class="col-6">
        <h3 id="mi-title"></h3>
        <p id="mi-des">
        </p>
      </div>

      <div class="col-3">
        <button type="button" class="btn btn-outline-warning btn-lg m-3" id ="pl-1">
          Add to Playlist! &#127871;
        </button>
        <button type="button" class="btn btn-outline-warning btn-lg m-3" id="fl-1">
          Favorite ❤
        </button>
        <button type="button" class="btn btn-outline-warning btn-lg m-3" id="sl-1">
          Seen it? &#128065; &#x1F441;
        </button>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript" src="/js/moreInfo.js"></script>