<!-- As a heading -->
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">Pandemic <br> Playlist</a>
</nav>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <div class="placement">
        <div data-id="1" class="movie">
          <img src="http://image.tmdb.org/t/p/original/zzWGRw277MNoCs3zhyG3YmYQsXv.jpg" class="movieImage" width="350px"
            height="200px">
          <div class="j-heart"></div>
        </div>
        <div class="heart">
          <div class ="heartclick"></div>
          <img src="http://image.tmdb.org/t/p/original/zzWGRw277MNoCs3zhyG3YmYQsXv.jpg" class="movieImage" width="350px"
            height="200px" id="thumb">
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <img src="http://image.tmdb.org/t/p/original/zzWGRw277MNoCs3zhyG3YmYQsXv.jpg" width="350px" height="200px"
        id="thumb">
    </div>
    <div class="col-sm-4">
      <img src="http://image.tmdb.org/t/p/original/zzWGRw277MNoCs3zhyG3YmYQsXv.jpg" width="350px" height="200px"
        id="thumb">
    </div>
  </div>
</div>
<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <img src="http://image.tmdb.org/t/p/original/zzWGRw277MNoCs3zhyG3YmYQsXv.jpg" width="350px" height="200px"
        id="thumb">
    </div>
    <div class="col-sm-4">
      <img src="http://image.tmdb.org/t/p/original/zzWGRw277MNoCs3zhyG3YmYQsXv.jpg" width="350px" height="200px"
        id="thumb">
    </div>
    <div class="col-sm-4">
      <img src="http://image.tmdb.org/t/p/original/zzWGRw277MNoCs3zhyG3YmYQsXv.jpg" width="350px" height="200px"
        id="thumb">
    </div>
  </div>
</div>

<script type="text/javascript" src="js/watchlist.js"></script>