/* ======================================================== global changes ========================================================== */

body {
  margin: 0;
  padding: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  background-color: #282e34;
  color: #fff;
}

/* ======================================================== signup/login page============================================================= */

form.signup,
form.login {
  margin-top: 50px;
}

#secondpage {
  font-size: 110px;
  /* white-space: nowrap; */
  padding-top: 300px;
  /* left:300px; */
  /* position: relative; */
}

#submitbtn {
  margin-top: 30px;
}

/* ======================================================= results page =========================================================== */

.results {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
}

.bgimg-1,
.bgimg-2,
.bgimg-3,
.bgimg-4,
.bgimg-5,
.bgimg-6,
.bgimg-7,
.bgimg-8,
.bgimg-9,
.bgimg-10,
.bgimg-11,
.bgimg-12 {
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bgimg-1 {
  background-image: url("https://payload.cargocollective.com/1/11/367710/13568488/MOVIECLASSICSerikweb_2500_2500.jpg");
  min-height: 650px;
}

.bgimg-2 {
  background-image: url("");
  min-height: 550px;
}

.bgimg-3 {
  background-image: url("");
  min-height: 550px;
}

.bgimg-4 {
  background-image: url("");
  min-height: 550px;
}

.bgimg-5 {
  background-image: url("");
  min-height: 550px;
}

.bgimg-6 {
  background-image: url("");
  min-height: 550px;
}

.bgimg-7 {
  background-image: url("");
  min-height: 550px;
}

.bgimg-8 {
  background-image: url("");
  min-height: 550px;
}

.bgimg-9 {
  background-image: url("");
  min-height: 550px;
}

.bgimg-10 {
  background-image: url("");
  min-height: 550px;
}

.bgimg-11 {
  background-image: url("");
  min-height: 550px;
}

.bgimg-12 {
  background-image: url("https://payload.cargocollective.com/1/11/367710/13568488/MOVIECLASSICSerikweb_2500_2500.jpg");
  min-height: 600px;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
}

.resultsTitle {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
}

.resultsTitle span.border {
  background-color: transparent;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

.caption span.border {
  background-color: #111;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

.movieTitle {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
  .bgimg-1,
  .bgimg-2,
  .bgimg-3,
  .bgimg-4,
  .bgimg-5,
  .bgimg-6,
  .bgimg-7,
  .bgimg-8,
  .bgimg-9,
  .bgimg-10,
  .bgimg-11,
  .bgimg-12 {
    background-attachment: scroll;
  }
}

/* ============================================================== hamburger======================================================== */

#menuToggle {
  display: block;
  position: fixed;
  height: 100%;
  top: 50px;
  left: 50px;
  z-index: 2;
  -webkit-user-select: none;
  user-select: none;
  height: 100%;
}

#menuToggle a {
  text-decoration: none;
  transition: color 0.3s ease;
  color: #fff;
}

#menuToggle a:hover {
  color: orange;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */

  -webkit-touch-callout: none;
}

/* Just a quick hamburger */

#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: #cdcdcd;
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

/* 
  * Transform all the slices of hamburger
  * into a crossmark.
  * determins color of cross
  */
#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #ffffff;
}

/*
  * But let's hide the middle one.
  */
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
  * last one should go the other direction
  */
#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

.checkbox-menu li.active label:hover,
.checkbox-menu li.active label:focus {
  background-color: #b8b8ff;
}
/*
  * Make this absolute positioned
  * at the top left of the screen
  */
#menu {
  position: absolute;
  width: 250px;
  height: 100%;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  opacity: 70%;
  background: #111;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */

  transform-origin: 0% 0%;
  transform: translate(-100%, 0);

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menu li {
  padding: 10px 0;
  font-size: 22px;
}

/*
    * slide it in from the left
   */
#menuToggle input:checked ~ ul {
  transform: none;
}

/* ========================================================= playlist =========================================================== */
/* the start of like button */

#moviemargin {
  margin-top: 10%;
}

#f1_container {
  position: relative;
  margin: 10px auto;
  width: 350px;
  height: 200px;
  z-index: 1;
}
#f1_container {
  perspective: 1000;
}
#f1_card {
width: 100%;
height: 100%;
transform-style: preserve-3d;
transition: all 0.33s linear;
}
#f1_container:hover #f1_card {
  transform: rotateY(180deg);
  box-shadow: -5px 5px 5px #aaa;
}
.face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.face.back {
  display: block;
  transform: rotateY(180deg);
  box-sizing: border-box;
  padding: 10px;
  color: white;
  text-align: center;
  background-color: #282e34;
}

.heart {
  width: 80px;
  height: 80px;
  background: url("https://cssanimation.rocks/images/posts/steps/heart.png")
    no-repeat;
  background-position: 0 0;
  cursor: pointer;
  transition: background-position 1s steps(28);
  transition-duration: 0s;
}

.is-active {
  transition-duration: 1s;
  background-position: -2800px 0;
}

.placement {
  position: fixed;
  top: 6%;
  left: 7%;
  transform: translate(-50%, -50%);
}

#minusico{
  position: fixed;
  top: 10%;
  left: 90%;
  transform: translate(-50%, -50%);
  color:white;
 
}
#plusico{
  position: fixed;
  top: 10%;
  left: 90%;
  transform: translate(-50%, -50%);
  color:white;
 
}

#eyeico{
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:white;
 
}

#trashico{
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:white;
 
}

.watchP {
  margin-top: 10%;
}

/* .movie:hover { */
/* background-color: black; */
/* opacity: 50%; */
/* width: 100px;
  height: 100px;
} */

/* .heart:hover {
  width: 100px;
  height: 100px;
  background: url("https://cssanimation.rocks/images/posts/steps/heart.png") no-repeat;
  background-position: 0 0;
  cursor: pointer;
  transition: background-position 1s steps(28);
  transition-duration: 0s;
} */
/* .is-active {
  transition-duration: 1s;
  background-position: -2800px 0;
}

#heartclick {
  position: absolute;
}

.movie {
  position: relative;
}

.movie:hover .j-heart {
  width: 90px;
  height: 90px;
  position: absolute;
  top: 0;
  left: 0;
  background: url("https://cssanimation.rocks/images/posts/steps/heart.png")
    no-repeat;
  background-position: 0 0;
  cursor: pointer;
  transition: background-position 1s steps(28);
  transition-duration: 0s;
} */
/* end of like button */

#customize {
  padding-bottom: 20px;
}
#curatepage {
  padding-left: 60px;
}

/* ================================================================ moreInfo ================================================================== */

.infoBackdrop {
  background-image: url("");
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 700px;
  max-height:1000px;
}

/* .zoomed {
} */

@media only screen and (max-device-width: 1024px) {
  .backdrop {
    background-attachment: scroll;
  }
}

#watchcontain {
  margin-top: 10%;
}
/* ICONS DO NOT REMOVE */
/* --------------------------------------------------------------- */
*[data-tooltip] {
  position: relative;
  color:black;
}

*[data-tooltip]::after {
  content: attr(data-tooltip);

  position: absolute;
  top: -185px;
  right: -20px;
  width: 150px;

  pointer-events: none;
  opacity: 0;
  -webkit-transition: opacity .15s ease-in-out;
  -moz-transition: opacity .15s ease-in-out;
  -ms-transition: opacity .15s ease-in-out;
  -o-transition: opacity .15s ease-in-out;
  transition: opacity .15s ease-in-out;

  display: block;
  font-size: 12px;
  line-height: 16px;
  background: white;
  padding: 2px 2px;
  border: 1px solid #c0c0c0;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.4);
}

*[data-tooltip]:hover::after {
  opacity: 1;
}

/* start heart */
*[data-tooltip-heart] {
position: relative;
color:black;
}
*[data-tooltip-heart]::after {
content: attr(data-tooltip-heart);

position: absolute;
top: 10px;
right: -90px;
width: 150px;

pointer-events: none;
opacity: 0;
-webkit-transition: opacity .15s ease-in-out;
-moz-transition: opacity .15s ease-in-out;
-ms-transition: opacity .15s ease-in-out;
-o-transition: opacity .15s ease-in-out;
transition: opacity .15s ease-in-out;

display: block;
font-size: 12px;
line-height: 16px;
background:white;
padding: 2px 2px;
border: 1px solid #c0c0c0;
box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.4);
}

*[data-tooltip-heart]:hover::after {
opacity: 1;
}
/* end heart */
*[data-tooltip-eye] {
position: relative;
color:black;
}

*[data-tooltip-eye]::after {
content: attr(data-tooltip-eye);

position: absolute;
top: -185px;
right: 85px;
width: 150px;

pointer-events: none;
opacity: 0;
-webkit-transition: opacity .15s ease-in-out;
-moz-transition: opacity .15s ease-in-out;
-ms-transition: opacity .15s ease-in-out;
-o-transition: opacity .15s ease-in-out;
transition: opacity .15s ease-in-out;

display: block;
font-size: 12px;
line-height: 16px;
background:white;
padding: 2px 2px;
border: 1px solid #c0c0c0;
box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.4);
}

*[data-tooltip-eye]:hover::after {
opacity: 1;
}

/* start add hover */
*[data-tooltip-add] {
  position: relative;
  color:black;
  }
  
  *[data-tooltip-add]::after {
  content: attr(data-tooltip-add);
  
  position: absolute;
  top: -185px;
  right: -20px;
  width: 150px;
  
  pointer-events: none;
  opacity: 0;
  -webkit-transition: opacity .15s ease-in-out;
  -moz-transition: opacity .15s ease-in-out;
  -ms-transition: opacity .15s ease-in-out;
  -o-transition: opacity .15s ease-in-out;
  transition: opacity .15s ease-in-out;
  
  display: block;
  font-size: 12px;
  line-height: 16px;
  background:white;
  padding: 2px 2px;
  border: 1px solid #c0c0c0;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.4);
  }
  
  *[data-tooltip-add]:hover::after {
  opacity: 1;
  }

  /* start trash hover */
  *[data-tooltip-trash] {
    position: relative;
    color:black;
    }
    
    *[data-tooltip-trash]::after {
    content: attr(data-tooltip-trash);
    
    position: absolute;
    top: -185px;
    right: 85px;
    width: 150px;
    
    pointer-events: none;
    opacity: 0;
    -webkit-transition: opacity .15s ease-in-out;
    -moz-transition: opacity .15s ease-in-out;
    -ms-transition: opacity .15s ease-in-out;
    -o-transition: opacity .15s ease-in-out;
    transition: opacity .15s ease-in-out;
    
    display: block;
    font-size: 12px;
    line-height: 16px;
    background:white;
    padding: 2px 2px;
    border: 1px solid #c0c0c0;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.4);
    }
    
    *[data-tooltip-trash]:hover::after {
    opacity: 1;
    }